<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Wrap all page content here -->
<div id="wrap" class="">
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                     <h1 class=""><a href="#" title="Bootstrap Template" class="">Platformer Website</a>
          <p class="lead">Welcome to my Platformer Website where im going to talk about my recent project on Unity.
                         This project was not an easy task to do, but it was fun to make it. I hope to make another platformer game
                         in the future.</p></h1>

                </div>
                <div class="col-sm-6">
                    <div class="pull-right  hidden-xs"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 class=""><i class="glyphicon glyphicon-cog"></i></h3></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i> Link</a>
                            </li>
                            <li><a href="#" class=""><i class="glyphicon glyphicon-user"></i> Link</a>
                            </li>
                            <li><a href="#" class=""><i class="glyphicon glyphicon-lock"></i> Link</a>
                            </li>
                            <li><a href="#" class=""><i class="glyphicon glyphicon-cog"></i> Link</a>
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-justified">
                    <li><a href="#" class="">Home</a>
                    </li>
                    <li><a href="#section2" class="">Product</a>
                    </li>
                    <li><a href="#section3" class="">Overview</a>
                    </li>
                    <li class="active"><a href="#section1" class=""><strong class="">Big Brand</strong></a>
                    </li>
                    <li><a href="#section4" class="">About</a>
                    </li>
                    <li><a href="#section5" class="">Contact</a>
                    </li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" class="">Action</a>
                            </li>
                            <li><a href="#" class="">Another action</a>
                            </li>
                            <li><a href="#" class="">Something else here</a>
                            </li>
                            <li><a href="#" class="">Separated link</a>
                            </li>
                            <li><a href="#" class="">One more separated link</a>
                            </li>
                </ul>
                </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container -->
    </div>
    <!--/.navbar -->
    <!-- Begin page content -->
    <div class="divider" id="section1"></div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="page-header text-center">
                 <h1 class="">Sticky Footer with Fly-in Navbar</h1>

            </div>
            <p class="lead text-center">The new and outstanding Game of 2016 gives you Astronomy War</p>
            <p class="text-center">1.My Project was made on Unity
                                   2.I used different varities of Animations in my project.
                                   3.Defeat all the Alien creatures and reach the checkpoint.
                                   4.My game is all about fighting dangerous monsters, and the best game.</p>
        </div>
    </div>
    <div class="divider" id="section2"></div>
    <section class="bg-1">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2 style="padding:20px;background-color:rgba(5,5,5,.8)" class="">Try and Tweak Different Layouts</h2>
        </div>
    </section>
    <div class="divider"></div>
    <div class="container" id="section3">
        <div class="col-sm-8 col-sm-offset-2 text-center">
             <h1 class="">Mobile-first + Responsive</h1>

            <p class="">My project is base on a space mission to the Moon, and try to defeat 
            the Robots of the Moon.</p>
            <hr class="">
            <img src="" class="img-responsive">
            <hr class="">
        </div>
        <!--/col-->
    </div>
    <!--/container-->
    <div class="divider"></div>
    <section class="bg-3" id="section4">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2 style="padding:20px;background-color:rgba(5,5,5,.8)" class="">Leverage Snippets &amp; Examples</h2>
        </div>
    </section>
    <div class="continer bg-4">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="">
                        <img src="//placehold.it/450X250/565656/eee" class="img-responsive">
                    </div>
                    <div class="panel-body">
                        <p class="lead">Platform Pic 1</p>
                        <p class="">Player is on idle</p>
                        <p class="">
                            <img src="img/Platform%20Pic1.png" class="" height="200px" width="400px">
                        </p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <img src="//placehold.it/450X250/ffcc33/444" class="img-responsive">
                    </div>
                    <div class="panel-body">
                        <p class="lead">Platform Pic 2</p>
                        <p class="">Player is now moving</p>
                        <p class="">
                            <img src="img/Platform%20Pic2.png" class="" height="200px" width="400px">
                        </p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <img src="//placehold.it/450X250/f16251/444" class="img-responsive">
                    </div>
                    <div class="panel-body">
                        <p class="lead">Platform pic 3</p>
                        <p class="">Enemy is attacking Player</p>
                        <p class="">
                            <img src="img/Platform%20Pic3.png" class="" height="200px" width="400px">
                        </p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
    <div class="divider" id="section5"></div>
    <div class="row">
         <h1 class="text-center">Platform pic 4</h1>
        <div class="panel-body">
                        <p class="lead"></p>
                        <p class="">Player is Dead</p>
                        <p class="">
                            <img src="img/Platform%20Pic4.png" class="" height="400px" width="1500px">
                        </p>
                    </div>

        <div id="map-canvas" class=""></div>
        <hr class="">
        <div class="col-sm-8">
            <div class="row form-group">
                <div class="col-xs-3">
                    <input class="form-control" id="firstName" name="firstName" placeholder="First Name" required="" type="text">
                </div>
                <div class="col-xs-3">
                    <input class="form-control" id="middleName" name="firstName" placeholder="Middle Name" required="" type="text">
                </div>
                <div class="col-xs-4">
                    <input class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-5">
                    <input class="form-control" name="email" placeholder="Email" required="" type="email">
                </div>
                <div class="col-xs-5">
                    <input class="form-control" name="phone" placeholder="Phone" required="" type="email">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10">
                    <input class="form-control" placeholder="Website URL" required="" type="homepage">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10">
                    <button class="btn btn-default pull-right">Contact Us</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pull-right"> <address>
        <strong class="">Iatek, LLC.</strong><br class="">
        795 Folsom Ave, Suite 600<br class="">
        Newport, RI 94107<br class="">
        P: (123) 456-7890
      </address>
 <address>
        <strong class="">Email Us</strong><br class="">
        <a href="mailto:#" class="">first.last@example.com</a>
      </address> 
        </div>
    </div>
    <!--/row-->
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 text-center">
             <h2 class="">Beautiful Bootstrap Templates</h2>

            <hr class="">
             <h4 class="">
        We love templates. We love Bootstrap.
      </h4>

            <p class="">Get more free templates like this at the <a href="http://bootply.com" class="">Bootstrap Playground</a>,
                Bootply.</p>
            <hr class="">
            <ul class="list-inline center-block">
                <li><a href="http://facebook.com/bootply" class=""><img src="/assets/example/soc_fb.png" class=""></a>
                </li>
                <li><a href="http://twitter.com/bootply" class=""><img src="/assets/example/soc_tw.png" class=""></a>
                </li>
                <li><a href="http://google.com/+bootply" class=""><img src="/assets/example/soc_gplus.png" class=""></a>
                </li>
                <li><a href="http://pinterest.com/in1" class=""><img src="/assets/example/soc_pin.png" class=""></a>
                </li>
            </ul>
        </div>
        <!--/col-->
    </div>
    <!--/container-->
</div>
<!--/wrap-->
<div id="footer" class="">
    <div class="container">
        <p class="text-muted">This Bootstrap Example courtesy <a href="http://www.bootply.com" class="">Bootply.com</a>
        </p>
    </div>
</div>
<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top" class=""><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
</ul>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
                <html xmlns="http://www.w3.org/1999/xhtml">
                    <head>
                        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                        <title>Unity Web Player | Platformer 2D</title>
                        <script type='text/javascript' src='jquery.min.js'></script>
                        <script type="text/javascript">
                            <!--
                                var unityObjectUrl = "UnityObject2.js";
                            if (document.location.protocol == 'https:')
                                unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
                            document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
                            -->
                        </script>
                        <script type="text/javascript">
                            <!--
                                var config = {
                                    width: 960, 
                                    height: 600,
                                    params: { enableDebugging:"0" }
                                };
                            var u = new UnityObject2(config);
                            jQuery(function() {
                                var $missingScreen = jQuery("#unityPlayer").find(".missing");
                                var $brokenScreen = jQuery("#unityPlayer").find(".broken");
                                $missingScreen.hide();
                                $brokenScreen.hide();
				
                                u.observeProgress(function (progress) {
                                    switch(progress.pluginStatus) {
                                        case "broken":
                                            $brokenScreen.find("a").click(function (e) {
                                                e.stopPropagation();
                                                e.preventDefault();
                                                u.installPlugin();
                                                return false;
                                            });
                                            $brokenScreen.show();
                                            break;
                                        case "missing":
                                            $missingScreen.find("a").click(function (e) {
                                                e.stopPropagation();
                                                e.preventDefault();
                                                u.installPlugin();
                                                return false;
                                            });
                                            $missingScreen.show();
                                            break;
                                        case "installed":
                                            $missingScreen.remove();
                                            break;
                                        case "first":
                                            break;
                                    }
                                });
                                u.initPlugin(jQuery("#unityPlayer")[0], "GameWebsite.unity2d");
                            });
                            -->
                        </script>
                        <style type="text/css">
                            <!--
                            body {
                                font-family: Helvetica, Verdana, Arial, sans-serif;
                                background-color: white;
                                color: black;
                                text-align: center;
                            }
                            a:link, a:visited {
                                color: #000;
                            }
                            a:active, a:hover {
                                color: #666;
                            }
                            p.header {
                                font-size: small;
                            }
                            p.header span {
                                font-weight: bold;
                            }
                            p.footer {
                                font-size: x-small;
                            }
                            div.content {
                                margin: auto;
                                width: 960px;
                            }
                            div.broken,
                            div.missing {
                                margin: auto;
                                position: relative;
                                top: 50%;
                                width: 193px;
                            }
                            div.broken a,
                            div.missing a {
                                height: 63px;
                                position: relative;
                                top: -31px;
                            }
                            div.broken img,
                            div.missing img {
                                border-width: 0px;
                            }
                            div.broken {
                                display: none;
                            }
                            div#unityPlayer {
                                cursor: default;
                                height: 600px;
                                width: 960px;
                            }
                            -->
                        </style>
                    </head>
                    <body>
                        <p class="header"><span>Robot Man, The Beta | </span>2D Platformer</p>
                        <div class="content">
                            <div id="unityPlayer">
                                <div class="missing">
                                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                                        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                                    </a>
                                </div>
                                <div class="broken">
                                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
                                        <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="footer">&laquo; created using <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;  </p>
                    </body>
                </html>